<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>This is a user friendly message: 404  Not found</h1>
    <p th:text="${exception.getMessage()}"></p>
</body>
</html>