<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead><h1>Courses</h1></thead>
    <tbody th:each="course : ${courses}">
    <form action="#" th:action="@{'/api/candidates/'+${candidateId}+'/register/'+${course.id}}"method="post">
        <tr>
            <td th:text="${course.id}"></td>
            <td th:text="${course.name}"></td>
            <td th:text="${course.type}"></td>
            <td th:text="${course.getNumberOfStudents()}">
            <td><button type="submit">Add</button></td>
        </tr>
    </form>
    </tbody>
</table>
</body>
</html>